*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #4b1a21;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #800000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(imgv/fotodelprice.png) no-repeat center;
    background-size: cover;
}

body {
  
 
    background-color: #ffffd9; /* Cambia el color a tu elección */
    }
   
    

/* Estilo para la sección de vinos */
#vinos {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo para el título de la sección */
  #vinos h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilo para el texto descriptivo */
  #vinos p {
    color: #666;
    margin-bottom: 10px;
  }
  

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: #fff;
    text-decoration: none;
    background: #721422;
}

.btn:hover {
    background: none;
    
}

#vinos {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #vinos h2 {
    font-size: 24px;
    color: #333;
  }
  
  #vinos p {
    color: #666;
    margin-bottom: 10px;
  }
  
  #vinos ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #vinos li {
    flex: 0 0 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #vinos li h3 {
    font-size: 18px;
    color: #333;
  }
  
  #vinos li img {
    width: 150px;
    height: 320px;
    margin: 10px auto;
    display: block;
  }
  
  #vinos li p {
    color: #666;
    margin-bottom: 5px;
  }
  
  #vinos li button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    #vinos li {
      flex: 0 0 calc(50% - 20px);
    }
  }

    }

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ffffff;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #ffffff;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url(imgv/Caballo.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #1d0a0d;
    padding-bottom: 0;
    height: 170%;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
